body {
  min-width: 320px;
  margin: 0;
  background-color: $base-bg-color;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  line-height: 30px;
}

img {
  max-width: 100%;
  height: auto;
}
