//colors
$base-bg-color: #ffffff;
$secondary-bg-color: #f2f2f2;

$primary-text-color: #283645;
$headers-text-color: #000000;
$secondary-text-color: #ffffff;

$primary-color: #d22856;
$success-color: #2aab6d;
