.advantages {
  position: relative;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -5;
    background-color: $secondary-bg-color;
    clip-path: polygon(0 30px, 100% 0, 100% 100%, 0 100%);

    @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
      clip-path: polygon(0 54px, 100% 0, 100% 100%, 0 100%);
    }

    @media (min-width: $desktop-width) {
      clip-path: polygon(0 100px, 100% 0, 100% 100%, 0 100%);
      top: -5px;
    }
  }
}

.advantages__wrapper {
  background-color: $secondary-bg-color;
  padding-top: 51px;
  position: relative;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -22px;
      left: -316px;
      right: 0;
      bottom: 0;
      margin: 0 auto;
      width: 300px;
      max-height: 480px;
      background-image: url("../img/iphone3.png");
      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 269px auto;
      background-position: -2px 0;
    }
  }

  @media (min-width: $tablet-width) {
    padding-top: 49px;
    padding-bottom: 43px;
    background-color: transparent;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }
}

.advantages__list {
  @include clear-list;
  text-align: center;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-left: 310px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }
}

.advantages__item {
  line-height: 24px;
  margin: 0 auto 31px auto;

  &:last-child {
    margin-bottom: 0;
  }

  &--image::after {
    content: "";
    display: block;
    height: 319px;
    margin: 0 auto;
    background: url("../img/iphone3.png") 50% 40px/contain no-repeat;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &:last-child {
      padding-top: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 297.33px;
    margin: 0;

    &:last-child {
      padding-top: 0;
      margin-bottom: 31px;
    }

    &::before {
      content: "";
      display: block;
      width: 240px;
      height: 300px;
      margin: 0 auto;
    }

    &--pic1::before {
      background-image: url("../img/iphone3-1.png");
      background-repeat: no-repeat;
      background-size: 187px auto;
      background-position: 23px 0;
    }

    &--pic2::before {
      background-image: url("../img/iphone3-2.png");
      background-repeat: no-repeat;
      background-size: 187px auto;
      background-position: 26px 0;
    }

    &--pic3::before {
      background-image: url("../img/iphone3-3.png");
      background-repeat: no-repeat;
      background-size: 187px auto;
      background-position: 28px 0;
    }
  }
}

.advantages__title {
  font-size: 18px;

  @media (min-width: $desktop-width) {
    margin: 56px auto 0 auto;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 20px;
  }
}

.advantages__title-br {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.advantages__description {
  color: $primary-text-color;
  margin: 12px 0;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 23px;
    font-size: 18px;
    line-height: 30px;
    padding: 0 26px;
  }
}
