.button {
  max-width: 300px;
  min-width: 183px;
  height: 55px;
  padding: 15px 0;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  border-radius: 29px;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
}
