.contacts {
  padding: 50px 0 0 0;
  margin: 0 auto;
}

.contacts__slogan {
  color: $primary-text-color;
  line-height: 120%;
  font-size: 24px;
  font-weight: 300;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.contacts__list {
  @include clear-list;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__item {
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33.3%;

    &--order {
      order: 2;
    }
  }
}

.contacts__title {
  color: $primary-text-color;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.contacts__description {
  color: $primary-color;
  font-size: 24px;
  text-align: center;
  display: block;
  margin: 0;
}

.contacts__map {
  position: relative;

  &::before {
    background: $base-bg-color;
    content: "";
    width: 100%;
    height: 33px;
    position: absolute; /* Абсолютное позиционирование */
    left: 0;
    clip-path: polygon(100% 0, 50% 100%, 0 0);

    @media (min-width: $tablet-width) {
      height: 68px;
    }

    @media (min-width: $desktop-width) {
      height: 68px;
    }
  }

  iframe {
    display: block;
    width: 100%;
    border: none;
    height: 200px;

    @media (min-width: $tablet-width) {
      height: 374px;
    }

    @media (min-width: $desktop-width) {
      height: 502px;
    }
  }
}
