.contacts {
  padding: 50px 0 43px 0;
}

.contacts__slogan {
  color: $primary-text-color;
  line-height: 120%;
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.contacts__list {
  @include clear-list;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.contacts__item {
  margin: 25px 0;

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    width: 33.3%;

    &--order {
      order: 2;
    }
  }
}

.contacts__title {
  color: $primary-text-color;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

.contacts__description {
  color: $primary-color;
  font-size: 24px;
  text-align: center;
  display: block;
  margin: 0;
}
