.field-input {
  &:hover {
    border-color: $primary-text-color;
  }

  &:focus {
    border-color: $primary-color;
    outline: none;
  }

  &:hover .form__choice-radio,
  &:hover .form__choice-checkbox {
    border: 2px solid $primary-text-color;
  }

  &:active .form__choice-radio,
  &:active .form__choice-checkbox {
    border: 2px solid $primary-color;
  }
}
