.form-achievements {
  margin-top: 26px;
  padding: 0 20px 40px;
  border: none;
  background-color: $secondary-bg-color;
}

.form-achievements__field-name {
  font-size: 18px;
  color: $primary-text-color;
}
