.form-actions {
  margin-top: 50px;

  @media (min-width: $tablet-width) {
    order: 9;
    width: 100%;
    margin-top: 66px;
    margin-bottom: 46px;
    display: flex;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-top: 63px;
  }
}

.form-actions__legend {
  text-align: center;
  color: $primary-text-color;
  text-transform: uppercase;
  margin-top: 34px;

  span {
    color: $primary-color;
  }

  small {
    font-size: 14px;
    line-height: 30px;
  }

  &--desktop {
    display: none;

    @media (min-width: $desktop-width) {
      display: inline;
      color: $primary-text-color;
    }
  }

  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }
}
