.form-set-header {
  line-height: 18px;
  font-size: 14px;
  color: $primary-color;
  font-weight: 400;
  text-align: center;
  padding: 40px 20px 36px 20px;
  text-transform: uppercase;
  margin: 0;

  &--emotions {
    padding: 38px 20px 16px 20px;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
