.info {
  //padding: 46px 20px 70px 20px;
}

.info__slogan {
  padding: 41px 0 44px 0;
  color: $primary-text-color;

  h2 {
    line-height: 28.8px;
    font-weight: 300;
    font-size: 24px;
    text-align: center;

    @media (min-width: $tablet-width) {
      font-size: 40px;
    }

    @media (min-width: $desktop-width) {
      line-height: 68px;
      font-size: 50px;
      margin-top: 19px;
    }
  }

  span {
    display: block;

    &:last-child {
      margin: 29px 0 18px 0;

      @media (min-width: $tablet-width) {
        margin: 3px 0 13px 0;
      }

      @media (min-width: $desktop-width) {
        margin-top: 1px;
      }
    }

    @media (min-width: $tablet-width) {
      line-height: 54px;
      margin-top: 2px;
    }

    @media (min-width: $desktop-width) {
      line-height: 68px;
      font-size: 50px;
      margin-top: 2px;
    }
  }
}
