.intro {
  color: $secondary-text-color;
  background: url("../img/phone-mobile.png") 50% 176px/320px no-repeat;

  @media (min-width: $tablet-width) {
    background: url("../img/phone-mobile.png") 100% 7px/540px no-repeat;
  }

  @media (min-width: $desktop-width) {
    background: url("../img/phone-mobile.png") 85% 0/642px no-repeat;
  }

  &--secondary {
    background: transparent;
  }
}

.intro__slogan {
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  line-height: 120%;
  font-weight: 300;
  font-size: 24px;
  width: 280px;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 40px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
    margin-top: 20px;
    font-size: 50px;
    width: 300px;
    text-align: center;
  }

  &--secondary {
    padding: 40px 0;
    margin: 0 auto;
  }

  @media (min-width: $tablet-width) {
    height: 180px;
    font-size: 40px;
    padding: 40px 0;
    margin: 0 auto;
    width: 620px;
  }
}

.intro__wrapper {
  margin-top: 325px;
  padding: 20px 0;
  color: $secondary-text-color;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    width: 600px;
    display: block;
    background: transparent;
  }

  @media (min-width: $desktop-width) {
    margin-left: 30px;
  }
}
