.modal {
  display: none;
}

.modal__title {
  text-align: center;
  font-size: 18px;
  margin: 20px 0;
}

.modal__description {
  color: $primary-text-color;
  text-align: center;
}

.modal__button {
  margin: 20px 0;
}
