.page-header {
  background-image: url("../img/back-mobile.png");
  background-size: 100% 527px;
  background-repeat: no-repeat;
  background-color: $main-fill-color;

  @media (min-width: $tablet-width) {
    background-size: cover;
  }
}

.page-header__wrapper {
  padding: 21px 20px 21px 20px;
  position: relative;
  display: flex;
  align-items: center;

  &::before {
    content: "";
    background-color: $headers-text-color;
    opacity: 0.3;
    top: 0;
    left: 0;
    width: 100%;
    height: 66px;
    position: absolute;

    @media (min-width: $tablet-width) {
      height: 110px;
    }
  }

  a[href]:hover {
    cursor: pointer;

    svg {
      fill: $primary-color;
    }
  }
}

.page-header__logo-image {
  display: block;
  width: 73px;
  height: 23px;
  fill: $base-bg-color;
  position: relative;
}
