.page-header {
  background-image: url("../img/back-mobile.png");
  background-size: 100% 527px;
  background-repeat: no-repeat;
  background-color: $main-fill-color;

  @media (min-width: $tablet-width) {
    background-size: cover;
  }
}

.page-header__toggle {
  z-index: 99;
  cursor: pointer;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header__wrapper {
  height: 66px;
  background-color: $headers-text-color-opacity;

  &--opened {
    background-color: $primary-text-color;
  }

  @media (min-width: $tablet-width) {
    height: 110px;
  }

  a[href]:hover {
    cursor: pointer;

    svg {
      fill: $primary-color;
    }
  }
}

.page-header__wrapper-container {
  height: 66px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 110px;
  }
}

.page-header__logo-image {
  width: 73px;
  height: 23px;
}
