.photo-content {
  margin: 0 auto 21px;

  @media (min-width: $tablet-width) {
    width: 300px;
    //тут флекс сделал, чтобы работал flex-grow и карточки были одинаковой высоты
    display: flex;
    flex-direction: column;
  }

  &--panorama {
    width: 100%;
  }
}

.photo-content__wrapper {
  background-color: $secondary-bg-color;
  padding: 17px 20px;
  line-height: 24px;
  flex-grow: 1;
  position: relative;
}

.photo-content__picture-panorama {
  position: relative;
  display: block;
  width: 100%;

  img {
    width: 100%;
    display: block;
    margin: 0 auto;
  }
}

.photo-content__label {
  position: absolute;
  top: 0;
  right: 30px;
  display: inline-block;
  background-color: $primary-color;
  padding: 0 10px;
  color: $secondary-text-color;
}

.photo-content__picture {
  display: block;

  img {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}

.photo-content__title {
  margin: 0;
  font-weight: 700;

  span {
    font-weight: 700;
    padding-left: 5px;
  }
}

.photo-content__description {
  margin-bottom: 34px;
}

.photo-content__likes {
  margin: 0;
  color: $primary-color;
  line-height: 24px;
  position: absolute;
  bottom: 18px;
}
