.photo {
  color: $primary-text-color;
  padding: 40px 0 20px;
}

.photo__description {
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  color: #283645;
  padding-bottom: 49px;
}

.photo__wrapper {
  list-style: none;
  padding: 0;
}
