.upload-photo {
  color: $primary-text-color;
  background-color: $secondary-bg-color;
  margin: 0 auto;
  overflow-x: hidden;

  @media (min-width: $tablet-width) {
    max-width: 620px;
  }

  @media (min-width: $desktop-width) {
    max-width: 940px;
    margin-bottom: 26px;
  }
}

.upload-photo__picture {
  img {
    width: 300px;
    display: block;
    margin: 0 auto;

    @media (min-width: $desktop-width) {
      padding-right: 9px;
    }
  }

  @media (min-width: $tablet-width) {
    grid-row: span 2 / auto;
    min-width: 300px;
    margin-top: 37px;
  }
}

.upload-photo__description {
  background: $base-bg-color;
  padding: 23px 0 44px 0;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;

  span {
    display: block;
  }

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 30px;
    padding-top: 21px;
    padding-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    padding: 3px 0 67px 0;
  }
}

.upload-photo__form {
  padding: 20px 0 28px 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0 31px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 0 58px 0;
  }
}

.upload-photo__control {
  display: block;
  width: 100%;

  hr {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid rgba($primary-text-color, 0.1);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}
